@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap%27');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    }

*{
    font-family:'Tinos',Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration:none;
    text-transform:none;
    transition: .2s linear;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}


html::-webkit-scrollbar{
    background: transparent;
}

html::-webkit-scrollbar{
    background: #fff;
    border-radius: 5rem;
}

body {
  background: linear-gradient(
    to left,
    #003C43 15%, 
    #135D66 50%, 
    #77B0AA 75%, 
    #A6CF98 100% 
  );
  background-size: 100% 100px;
  
  height: 100vh;
  margin: 0;
}

section{
   padding: 2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor:pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 10rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/home-img.jpg)no-repeat;
    background-size: cover ;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #E8E8CC;
     ;
    
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color:#E8E8CC;
}


.about .row{
    display:flex;
    align-items: center;
    background:var(--black);
    background-color: #0d1c02;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width:100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}
.about .row .content h3{
    font-size:3rem;
    color:#fff;
}
.about .row .content p{
    font-size: 2.5rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    }

.bottles .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.bottles .box-container .box{
    text-align: center;
    border:var(--border);
    border-color: #0f1010;
    border-width: 0.5cap;
   
    padding: 2rem; 
  }
  .bottles .box-container .box:hover{
    background-color:#0d1c02;
  }

  .bottles .box-container .box .icons a{
    height: 5 rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    border-color: rgb(146, 101, 64);
    color:#fff;
    margin: 3rem;
  }
  .bottles .box-container .box .icons a:hover{
    background:var(--main-color);
  }

  .bottles .box-container .box .image{
    padding: 2.5rem 0;
  }
  
  .bottles .box-container .box .image img{
    height: 25rem;
  }

  .bottles .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
  }

  .bottles .box-container .box .content .heart{
    padding: 1.5rem;
    
  }
  .bottles .box-container .box .content .heart i{
    font-size: 1.7rem;
    color: #3EC70B;
    
  }
  
  .fas.fa-eye {
    cursor: pointer; /* Make the icon clickable */
  }
  
  #textToShow {
    display: none;
    color:#010103;
    font-size: 1.6rem; /* Hide the text by default */
    text-align: justify;
    background-color: rgb(146, 101, 64);
    text-decoration-line: var(--border);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    
  }

  .bags .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.bags .box-container .box{
    text-align: center;
    border:var(--border);
    border-color: #0f1010;
    border-width: 0.5cap;
    padding: 2rem; 
  }
  .bags .box-container .box:hover{
    background-color:#0d1c02;
  }

  .bags .box-container .box .icons a{
    height: 5 rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    border-color: rgb(146, 101, 64);
    color:#fff;
    margin: 3rem;
  }
  .bags .box-container .box .icons a:hover{
    background:var(--main-color);
  }

  .bags .box-container .box .image{
    padding: 2.5rem 0;
  }
  
  .bags .box-container .box .image img{
    height: 25rem;
  }

  .bags .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
  }

  .bags .box-container .box .content .heart{
    padding: 1.5rem;
  }
  .bags .box-container .box .content .heart i{
    font-size: 1.7rem;
    color: var(--main-color);
  }
  

  

  .straws .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.straws .box-container .box{
    text-align: center;
    border:var(--border);
    border-color: #0f1010;
    border-width: 0.5cap;
    padding: 2rem; 
  }
  .straws .box-container .box:hover{
    background-color:#0d1c02;
  }

  .straws .box-container .box .icons a{
    height: 5 rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    border-color: rgb(146, 101, 64);
    color:#fff;
    margin: 3rem;
  }
  .straws .box-container .box .icons a:hover{
    background:var(--main-color);
  }

  .straws .box-container .box .image{
    padding: 2.5rem 0;
  }
  
  .straws .box-container .box .image img{
    height: 25rem;
  }

  .straws .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
  }

  .straws .box-container .box .content .heart{
    padding: 1.5rem;
  }
  .straws .box-container .box .content .heart i{
    font-size: 1.7rem;
    color: var(--main-color);
  }
  



/*media queries */
@media (max-width:991px){

    html{
        font-size:55%;        
    }
    
    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 2rem ;
     }

}



@media (max-width:768px){
    

    .header.navbar{
        position: absolute;
        top:100%;right:-100%;
        background:#fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    
    .header.navbar.active{
        right:0;
    }

    .header.navbar a{
        color:var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }


    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    
    .home .content h3{
        font-size: 4.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size:50%;        
    }
    
}
